h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input,
select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
