.add-car-form {
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  background: #fff6;
  -webkit-box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
}

.image-input,
.model-input,
.price-input,
.name-car-input {
  box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  outline: none;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  margin: 20px 0;
}

.add-car-button {
  background: rgb(6, 165, 6);
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 1.4rem;
  padding: 13px 4px;
  border: 1px solid #000;
  border-radius: 3px;
}

.add-car-button:hover {
  background: rgb(5, 197, 5);
  transition: all 0.3s;
}

.details {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 11%;
}

.car-details-button {
  background: rgb(6, 165, 6);
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-top: 1.4rem;
  padding: 13px 4px;
  border: 1px solid #000;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .add-car-form {
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
    background: #fff6;
    -webkit-box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  }
}
