
.reserve-container {
  margin: 10px 0 7px 5px;
  padding: 50px;
  border-radius: 10px;
  background: #fff6;
  -webkit-box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
  height: auto;
}

.reserve-container h2 {
  padding-bottom: 30px;
  color: #fff;
}

.reserve-input,
select,
.reserve-button {
  border: none;
  outline: none;
  padding: 15px 4px;
  margin-right: 17px;
  border-radius: 4px;
  box-shadow: 9px 10px 39px 0 rgba(0, 0, 0, 0.75);
}

.reserve-button {
  border: none;
  background: rgb(6, 164, 6);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
}

.reserve-button:hover {
  transition: all 0.3s;
  background: rgb(51, 230, 51);
}

@media (max-width: 768px) {
  .reserve-container {
    margin: 0 0 5vw 10px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .rev {
    margin-bottom: 30px;
    height: auto;
  }

  .reserve-form {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .reserve-input,
  select,
  .reserve-button {
    margin-top: 25px;
    height: auto;
  }

  .reserve-button {
    border: none;
    background: rgb(6, 164, 6);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px;
    margin-left: 0;
    height: auto;
  }
}
